

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-primary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>



            <form action= "/session/login" method="post">

                <div class="form-outline form-white mb-4">
                    <input name =email type="email" id="typeEmailX" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX">Password</label>
                </div>


                <button class="btn btn-outline-light btn-lg mb-3 px-5" type="submit">Login</button>
            </form>

            

        <p class="text-white-50 mb-2 ">Login with GitHub</p>
        <button onclick="location.href='/user/github'" class="btn btn-outline-light btn-lg mb-3 px-5">Github</button>



        <p class="text-white-50 mb-2 ">Login with Google</p>
        <button onclick="location.href='/user/google'" class="btn btn-outline-light btn-lg mb-3 px-5">Google</button>